<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syh.mall.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.syh.mall.pojo.User">
        <result column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="open_id" property="openId" />
        <result column="state" property="state" />
        <result column="nick_name" property="nickName" />
        <result column="mobile_phone" property="mobilePhone" />
        <result column="update_time" property="updateTime" />
        <result column="avatar" property="avatar" />
        <result column="sell_num" property="sellNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        app_id, open_id, state, nick_name, mobile_phone, update_time, avatar, sell_num
    </sql>

</mapper>
