<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syh.mall.mapper.WorkerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.syh.mall.pojo.Worker">
        <result column="id" property="id" />
        <result column="worker_code" property="workerCode" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="email" property="email" />
        <result column="state" property="state" />
        <result column="login_num" property="loginNum" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="last_chg_pwd_time" property="lastChgPwdTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        worker_code, name, password, sex, birthday, email, state, login_num, last_login_time, last_chg_pwd_time, create_time
    </sql>

</mapper>
